<header class="main-header">
  <div class="header-content">
    <div class="header-left">
      <button class="menu-toggle" (click)="toggleSidebar()">
        <i class="fas fa-bars"></i>
      </button>
      <h1 class="app-title">DocsStorage</h1>
    </div>
    
    <div class="header-center">
      <div class="search-box">
        <i class="fas fa-search"></i>
        <input type="text" placeholder="Pesquisar documentos..." class="search-input">
      </div>
    </div>
    
    <div class="header-right">
      <div class="user-menu">
        <button class="user-avatar" (click)="toggleUserMenu()">
          <ng-container *ngIf="userPicture; else defaultAvatar">
            <img [src]="userPicture" alt="Foto do usuário" class="avatar-img" />
          </ng-container>
          <ng-template #defaultAvatar>
            <i class="fas fa-user-circle"></i>
          </ng-template>
          <span class="username">{{userName}}</span>
          <i class="fas fa-chevron-down"></i>
        </button>
        
        <div class="user-dropdown" [class.show]="showUserMenu">
          <a class="dropdown-item" [routerLink]="['/profile']" (click)="closeUserMenu()">
            <i class="fas fa-user"></i>
            <span>Perfil</span>
          </a>
          <a class="dropdown-item" [routerLink]="['/settings']" (click)="closeUserMenu()">
            <i class="fas fa-cog"></i>
            <span>Configurações</span>
          </a>
          <a class="dropdown-item" [routerLink]="['/documents']" (click)="closeUserMenu()">
            <i class="fas fa-file-alt"></i>
            <span>Documentos</span>
          </a>
          <a class="dropdown-item" [routerLink]="['/google-drive']" (click)="closeUserMenu()">
            <i class="fab fa-google-drive"></i>
            <span>Google Drive</span>
          </a>
          <div class="dropdown-divider"></div>
          <button class="dropdown-item logout" type="button" (click)="logout()">
            <i class="fas fa-sign-out-alt"></i>
            <span>Sair</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
